@use "sass:map";

// common
$common: () !default;
$common: map.merge((), $common);

// palette
$light: (
  "c-brand": #3e88f6,
  "c-link": "var(--st-c-brand)",
) !default;
$light: map.merge((), $light);

$dark: () !default;
$dark: map.merge((), $dark);

$z-index: () !default;
$z-index: map.merge((), $z-index);
